@model SourceCode.Models.User
@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $(function () {
            $("#phonenumber").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });
        });
        var password = document.getElementById("Password")
            , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Re-enter the password that does not match!");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    });
</script>
<!--breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Register</li>
        </ol>
    </div>
</div>
<br />
<!--//breadcrumbs-->
<!--login-->
<div class="login-page">
    <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
        <h3 class="title">Register</h3>
    </div>
    <div class="widget-shadow">
        <div class="login-body wow fadeInUp animated" data-wow-delay=".7s">
            @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
            {
                if (Model != null)
                {
                    <p class="text-danger">@ViewBag.MessageUsername</p>
                    <input type="text" class="user" name="FullName" placeholder="Full Name" value="@Model.FullName" required maxlength="30">
                    <span id='message'></span>
                    <p class="text-danger">@ViewBag.MessageEmail</p>
                    <input type="text" class="user" name="Email" placeholder="Your email..." value="@Model.Email" required pattern="[a-z0-9._%+-]+&#64;[a-z0-9.-]+\.[a-z]{2,}$" title="Enter your correct email format (vd: abc@gmail.com)">
                    <input type="password" id="Password" name="Password" value="@Model.Password" class="lock" placeholder="password" pattern=".{8,}" required title="Password must be 8 characters or more!">
                    <input type="password" id="confirm_password" name="confirm_password" class="lock" placeholder="confirm password" pattern=".{8,}" required title="Password must be 8 characters or more!">
                    <p class="text-danger">@ViewBag.MessagePhoneNumber</p>
                    <input type="text" class="user" id="phonenumber" name="PhoneNumber" placeholder="number phone" value="@Model.PhoneNumber" pattern=".{10,12}" required title="Phone number must be between 10 and 12 digits!">
                    <input type="text" class="user" name="Address" placeholder="Address" value="@Model.Address" required maxlength="200">
                    <input type="submit" id="btnSignIn" name="Sign In" value="Register">
                }
                else
                {
                    <input type="text" class="user" name="FullName" placeholder="full name" required maxlength="30">
                    <span id='message'></span>
                    <input type="text" class="user" name="Email" placeholder="Your email..." required pattern="[a-z0-9._%+-]+&#64;[a-z0-9.-]+\.[a-z]{2,}$" title="Enter your correct email format(vd: abc@gmail.com)">
                    <input type="password" id="Password" name="Password" class="lock" placeholder="password" pattern=".{8,}" required title="Password must be 8 characters or more!!">
                    <input type="password" id="confirm_password" name="confirm_password" class="lock" placeholder="confirm password" pattern=".{8,}" required title="Password must be 8 characters or more!">
                    <input type="text" class="user" id="phonenumber" name="PhoneNumber" placeholder="number phone" pattern=".{10,12}" required title="Phone number must be between 10 and 12 digits!">
                    <input type="text" class="user" name="Address" placeholder="Address" required maxlength="200">
                    <input type="submit" id="btnSignIn" name="Sign In" value="Register">
                }
            }
        </div>
    </div>
</div>
<!--//login-->
