@model PagedList.IPagedList<SourceCode.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Hàng Mới";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

@{
    int couter = 1;
}
<script>
    $(document).ready(function () {
        $('.AddItemCart').click(function (e) {
            var id = $(this).attr("data-id");
            $.ajax({
                method: "POST",
                url: "/Cart/CheckQuantityAdd",
                data: {
                    id: id
                },
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        $.ajax({
                            method: "POST",
                            url: "/Cart/AddItemCart",
                            data: {
                                id: id
                            },
                            dataType: 'html',
                            success: function (response) {
                                $.notify("Product added to cart!", "success");
                                $("#DivCart").html(response);
                            }
                        });
                    }
                    else {
                        $.notify("Products are sold out!", "error");
                    }
                }
            });
        });
    });
</script>
<!--breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home </a></li>
            <li class="active">New </li>
        </ol>
    </div>
</div>
<!--//breadcrumbs-->
<!--products-->
<div class="products">
    <div class="container">
        <div class="col-md-9 product-model-sec">
            @foreach (var item in Model)
            {
                if (couter == 1)
                {
                    <div class="product-grids simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".5s">
                        @Html.Action("ProductPartial", "Product", new { product = item })
                    </div>
                    couter++;
                }
                else if (couter == 2)
                {
                    <div class="product-grids product-grids-mdl simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".7s">
                        @Html.Action("ProductPartial", "Product", new { product = item })
                    </div>
                    couter++;
                }
                else if (couter == 3)
                {
                    <div class="product-grids simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".9s">
                        @Html.Action("ProductPartial", "Product", new { product = item })
                    </div>
                    couter++;
                }
                else if (couter == 4)
                {
                    <div class="product-grids simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".5s">
                        @Html.Action("ProductPartial", "Product", new { product = item })
                    </div>
                    couter++;
                }
                else if (couter == 5)
                {
                    <div class="product-grids product-grids-mdl simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".7s">
                        @Html.Action("ProductPartial", "Product", new { product = item })
                    </div>
                    couter++;
                }
                else if (couter == 6)
                {
                    <div class="product-grids simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".9s">
                        @Html.Action("ProductPartial", "Product", new { product = item })
                    </div>
                    couter++;
                }
                else if (couter == 7)
                {
                    <div class="product-grids simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".5s">
                        @Html.Action("ProductPartial", "Product", new { product = item })
                    </div>
                    couter++;
                }
                else if (couter == 8)
                {
                    <div class="product-grids product-grids-mdl simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".7s">
                        @Html.Action("ProductPartial", "Product", new { product = item })
                    </div>
                    couter++;
                }
                else if (couter == 9)
                {
                    <div class="product-grids simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".9s">
                        @Html.Action("ProductPartial", "Product", new { product = item })
                    </div>
                    break;
                }
            }
        </div>
        <div class="clearfix"> </div>
        <div class="product-sec1" id="ProductContainer">
            <br />
            <div id='Paging' style="text-align: right">
                @Html.PagedListPager(Model, page => Url.Action("NewProduct", new { page }))
            </div>
        </div>
    </div>
</div>
<!--//products-->